<!-- Service section -->
<div class="section about_section layout_padding dash_bg">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="full">
                    <div class="heading_main text_align_center">
                        <h2>What We Do</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="full feature_box">
                    <div class="full icon">
                        <img class="default-block" src="content/images/icon_1.png" alt="#" />
                        <img class="default-none" src="content/images/icon_1w.png" alt="#" />
                    </div>
                    <div class="full">
                        <h4>Customer Help</h4>
                    </div>
                    <div class="full">
                        <p>
                            Here we take care of the customers and their complains..
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <div class="full feature_box">
                    <div class="full icon">
                        <img class="default-block" src="content/images/icon_2.png" alt="#" />
                        <img class="default-none" src="content/images/icon_2w.png" alt="#" />
                    </div>
                    <div class="full">
                        <h4>Complains Workflow</h4>
                    </div>
                    <div class="full">
                        <p>
                            We have three stages of workflow, review, pending, approval..
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end section -->
