<div class="ulockd-home-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="pogoSlider pogoSlider--dirCenterHorizontal pogoSlider--navBottom" id="js-main-slider" style="padding-bottom: 30%;">
                <div class="pogoSlider-slide" style="background-image: url(/Content/images/slider_1.jpg); opacity: 0;">
                    <div class="pogoSlider-progressBar"><div class="pogoSlider-progressBar-duration" style="width: 0px;"></div></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h6>Grow your business</h6>
                                    <h3>Digital</h3>
                                    <h4>Marketing</h4>
                                    <br>
                                    <a class="readmore_bt" href="@Url.Action("Index", "About")">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" style="background-image: url(/Content/images/slider_1.jpg); opacity: 1; z-index: 1;">
                    <div class="pogoSlider-progressBar"><div class="pogoSlider-progressBar-duration" style="width: 72.56%; overflow: hidden;"></div></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h6>Grow your business</h6>
                                    <h3>Digital</h3>
                                    <h4>Marketing</h4>
                                    <br>
                                    <a class="readmore_bt" href="@Url.Action("Index", "About")">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pogoSlider-slide" style="background-image: url(/Content/images/slider_1.jpg);">
                    <div class="pogoSlider-progressBar"><div class="pogoSlider-progressBar-duration" style="width: 100%;"></div></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slide_text">
                                    <h6>Grow your business</h6>
                                    <h3>Digital</h3>
                                    <h4>Marketing</h4>
                                    <br>
                                    <a class="readmore_bt" href="@Url.Action("Index", "Contact")">Read More</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button class="pogoSlider-dir-btn pogoSlider-dir-btn--prev"></button><button class="pogoSlider-dir-btn pogoSlider-dir-btn--next"></button><ul class="pogoSlider-nav"><li data-num="0"><button class="pogoSlider-nav-btn"></button></li><li data-num="1"><button class="pogoSlider-nav-btn pogoSlider-nav-btn--selected"></button></li><li data-num="2"><button class="pogoSlider-nav-btn"></button></li></ul>
            </div>
            <!-- .pogoSlider -->
        </div>
    </div>
</div>