@model ABCompany.Complaint.ViewModels.UserViewModel

@{
    ViewBag.Title = Session["FirstName"]?.ToString();
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New Complaint", "Create")
</p>

@Html.Partial("_Complaints", Model.Complaints)